{% extends 'mainapp/base/base.html' %}
{% load static %}

{% block content %}
<div class="container-xxl mt-2 text-center">
    <h2 class="h1">{{ top_heading }}</h2>

    {% block heading %}
    <div class="row my-3">
        <div class="col-12">
            <div class="progress mb-3" style="height: 25px;">
                <div class="progress-bar{% if progress != 100 %} progress-bar-striped progress-bar-animated{% else %} bg-success{% endif %}" role="progressbar" aria-label="Recognition Progress" style="width: {{ progress }}%" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <h2>{{ heading }}</h2>
        </div>
    </div>
    {% endblock %}

    {% block info_card %}
    <div class="card p-4 mb-3 text-center flex-grow-1">
        <div class="col-12">
            <img src="{% if album.miniature %}{{ album.miniature.original.url }}{% else %}{% static 'images/main.ico' %}{% endif %}" alt="" style="width: 100%; height: auto; max-height: 550px; object-fit: contain;">
        </div>

        {% block info %}
        {% endblock %}

        {% block instruction %}
        <div class="col-12 my-3">
            {% for instruction in instructions %}
            <p class="h4">{{ instruction }}</p>
            {% endfor %}
        </div>
        {% endblock %}
        
        {% if progress != 100 %}
        <div class="d-flex justify-content-center">
            <div class="spinner-grow text-secondary mx-4" style="width: 5rem; height: 5rem;" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow text-secondary mx-4" style="width: 5rem; height: 5rem;" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow text-secondary mx-4" style="width: 5rem; height: 5rem;" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        {% endif %}
        
    </div>
    {% endblock %}

</div>
{% endblock %}
