materials.txt
README.md
.gitignore
media/avatars/*
media/photos/*
media/temp_photos/*
mysql_db/*
site_cache/*
.mysql-env
.django-celery-env
certbot_data/
nginx/
celerybeat-schedule
staticfiles/*
__pycache__/
migrations/