{% extends 'mainapp/base/base.html' %}

{% block content %}
<div class="container-fluid flex-grow-1">
    <div class="container-xxl mt-2 text-center">
        <p class="h1">Stage 5/6</p>
        <h2>Group patterns of people.</h2>
        <div class="row my-3">
            <div class="col-12">
                <p class="h5">Please mark faces belonging to the one same person.</p>
            </div>
        </div>
        <div class="card py-2 my-3">
            <form action="" method="post" id="patterns_form">
                <div class="row">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {% for field in form %}
                    <div class="col-4 col-md-3 col-xxl-2">
                        <div class="row align-items-center">
                            <div class="col-12">
                                <img src="{{ field.label }}" alt="" style="width: 100%; height: auto; max-height: 100px; object-fit: contain;">
                            </div>
                            <div class="col-12">
                                {{ field }}
                            </div>
                            {% if field.errors %}
                            <div class="invalid-feedback">
                                {% for err in field.errors %}
                                <p>{{ err }}</p>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </form>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                <button class="btn btn-primary btn-lg w-50" type="submit" form="patterns_form">Confirm</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}