{% extends 'mainapp/base/base.html' %}
{% load static %}

{% block content %}
<div class="container-xxl d-flex justify-content-center flex-grow-1">

    <div class="card p-4 text-center flex-grow-1 m-4">
        <div class="col col-12">
            <h2 class="card-title">{{ title }}</h2>
            <img src="{% if album.miniature %}{{ album.miniature.original.url }}{% else %}{% static 'images/main.ico' %}{% endif %}" alt="" style="width: 100%; height: auto; max-height: 550px; object-fit: contain;">
        </div>
        <div class="col-12 my-3">
            {% for instruction in instructions %}
            <p class="h4">{{ instruction }}</p>
            {% endfor %}
        </div>

        <div class="col col-12 mt-auto">
            <a href="{% url 'find_faces' %}?album={{album.slug}}" class="btn btn-primary btn-lg w-50">
                {{ button_label }}
            </a>
        </div>
    </div>

</div>
{% endblock %}