{% extends 'recognition/base/manual_handling_base.html' %}

{% block form_area %}
<form action="" method="post" id="faces_of_pattern_form">
    {% csrf_token %}
    {{ formset.management_form }}
    {{ formset.non_form_errors }}
    {% for form in formset %}
    {% if form.fields %}
    <div class="card py-2 my-3{% if form.non_field_errors %} border-danger{% endif %}">
        {{ form.id }}

        {% block non_field_errors %}
        {{ block.super }}
        {% endblock %}

        <div class="row">
            {% for field in form %}
            <div class="col-4 col-md-3 col-xxl-2">
                <div class="row align-items-center">
                    <div class="col-12">
                        <img src="{{ field.label }}" alt="" style="width: 100%; height: auto; max-height: 100px; object-fit: contain;">
                    </div>
                    <div class="col-12">
                        {{ field }}
                    </div>
                    {% if field.errors %}
                    <div class="invalid-feedback">
                        {% for err in field.errors %}
                        <p>{{ err }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% endfor %}

    {% block submit_button %}
    {{ block.super }}
    {% endblock %}

</form>
{% endblock %}