{% extends 'mainapp/base/base.html' %}

{% block content %}
{% for info in sections_info %}
<section id="{{ info.section_id }}">
    <div class="container-xxl text-center pt-4 mb-4">
        <div class="row">
            <div class="col-12 col-lg-6">
                <img src="{{ info.img_url }}" alt="" class="img-fluid">
            </div>
            <div class="col-12 col-lg-6{% if info.text_first %} order-first{% endif %}">
                <h1>{{ info.title }}</h1>
                {% for paragraph in info.paragraphs %}
                <p class="h3">{{ paragraph }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endfor %}
{% endblock %}