{% extends 'mainapp/base/base.html' %}
{% load static %}

{% block breadcrumbs %}
{% include 'mainapp/base/breadcrumbs.html' %}
{% endblock breadcrumbs %}

{% block content %}
<div class="container-fluid flex-grow-1"{% if album.is_private %} style="background-color: #D1D1D1;"{% endif %}>
    <div class="container-xxl d-flex justify-content-center">
        <div class="row p-4 w-100">
            <div class="col-12 col-lg-5">
                <img src="{% if album.miniature %}{{ album.miniature.original.url }}{% else %}{% static 'images/main.ico' %}{% endif %}" alt="" style="width: 100%; height: auto; max-height: 600px; object-fit: contain;">
            </div>
            <div class="col-12 col-lg-7 mt-2 d-flex flex-column">
                <div class="row">
                    <div class="col-12 text-center">
                        <h2 class="card-title">{{ title }}</h2>
                        {% if album.location %}
                        <p class="card-text">{{ album.location }}
                        {% endif %}
                        {% if album.date_start or album.date_end %}
                        {% if album.location %}<br>{% else %}</p><p class="card-text">{% endif %}
                        {{ album.date_start|default_if_none:'' }} - {{ album.date_end|default_if_none:'' }}</p>
                        {% endif %}
                        {% if not request.user.is_authenticated or owner_slug != request.user.username_slug %}
                        <a href="{% url 'user_profile' username_slug=owner_slug %}" class="btn btn-outline-primary w-50">Owner's profile</a>
                        {% endif %}
                    </div>
                    {% if album.description %}
                    <div class="col-12">
                        <p class="description">{{ album.description }}</p>
                    </div>
                    {% endif %}
                </div>
                <div class="row mt-auto">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="col-6 px-3">
                            <a href="{% url 'download' %}?album={{ album.slug }}" class="btn btn-lg btn-primary w-100">Download album</a>
                        </div>
                        {% if request.user.is_authenticated %}
                        {% if owner_slug == request.user.username_slug %}
                        <div class="col-6 px-3">
                            <a href="{% url 'album_edit' username_slug=owner_slug album_slug=album.slug %}" class="btn btn-lg btn-primary w-100 mx-3">Edit album</a>
                        </div>
                        {% else %}
                        <div class="col-6 px-3">
                            <form action="{% url 'add_to_favorites' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ request.path }}">
                                <button type="submit" name="album" value="{{ album.slug }}" class="btn btn-lg btn-primary w-100{% if in_favorites %} disabled" aria-disabled="true"{% else %}"{% endif %}>Add to Favorites</button>
                            </form>
                        </div>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'mainapp/base/album_pagination.html' %}

    <div class="container-xxl">
        <div class="row d-flex justify-content-center">
            {% for photo in object_list %}
            <div class="col-6 col-md-4 col-xl-3 d-flex align-items-stretch my-4">
                <div class="card w-100{% if photo.is_private %} card-private{% endif %}">
                    <div class="card-body card-photo text-center">
                        <p class="card-title">{{ photo.title }}</p>
                        <img src="{{ photo.original.url }}" alt="" style="width: 100%; height: auto; max-height: 300px; object-fit: contain;">
                        <a href="{% url 'photo' username_slug=owner_slug album_slug=album.slug photo_slug=photo.slug %}" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    {% include 'mainapp/base/album_pagination.html' %}

</div>
{% endblock %}