{% extends 'mainapp/base/base.html' %}
{% load static %}

{% block breadcrumbs %}
{% include 'mainapp/base/breadcrumbs.html' %}
{% endblock breadcrumbs %}

{% block content %}
<div class="container-xxl text-center">
    <h2 class="h1 my-3">{{ title }}</h2>
    {% if albums %}
    <div class="row">

        {% for album in albums %}
        <div class="col-md-6 col-xl-4 p-4 d-flex align-items-stretch">
            <div class="card p-3 w-100" style="{% if album.is_private %}background-color: rgba(0, 0, 0, 0.18); border: 8px solid #444444; {% else %}border: 8px solid rgba(0, 0, 0, 0.35); {% endif %}border-radius: 4%">
                <div class="col-12 d-flex justify-content-center">
                    <img src="{% if album.miniature %}{{ album.miniature.original.url }}{% else %}{% static 'images/main.ico' %}{% endif %}" alt="" style="width: 100%; height: auto; max-height: 400px; object-fit: contain;">
                </div>
                <div class="col-12 mt-auto mb-3">
                    <div class="text-center">
                        <h5 class="card-title">{{ album.title }}</h5>
                        <p class="card-text">{% if album.photos__count %}{{ album.photos__count }} photo{% if album.photos__count > 1 %}s{% endif %}{% else %}empty{% endif %}</p>
                        {% if album.location %}
                        <p class="card-text">{{ album.location }}
                        {% endif %}
                        {% if album.date_start or album.date_end %}
                        {% if album.location %}<br>{% else %}</p><p class="card-text">{% endif %}
                        {{ album.date_start|default_if_none:'' }} - {{ album.date_end|default_if_none:'' }}</p>
                        {% else %}
                        </p>
                        {% endif %}
                        <a href="{{ album.get_absolute_url }}" class="btn btn-primary">View Album</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="card m-5 text-center">
        <p class="display-2 text-secondary">You have no albums</p>
        <p class="display-5 text-secondary">Create album and upload some photos</p>
    </div>
    {% endif %}

    {% if owner_slug == request.user.username_slug %}
    <div class="p-3 row d-flex justify-content-center">
        {% if albums %}
        <div class=" col-9 col-md-6 col-xl-4 px-3">
            <a href="{% url 'recognition_albums' %}" class="btn btn-primary btn-lg w-100">Scan albums for faces</a>
        </div>
        {% endif %}
        <div class=" col-9 col-md-6 col-xl-4 px-3">
            <a {% if not limit_reached %}href="{% url 'album_create' owner_slug %}" {% endif %}class="btn btn-primary btn-lg w-100{% if limit_reached %} disabled" aria-disabled="true">You can create up to {{ limit }} albums{% else %}">Create new album{% endif %}</a>
        </div>
    </div>
    {% endif %}
</div>

<!--Pagination-->
{% include 'mainapp/base/album_pagination.html' %}
{% endblock %}
