{% load static %}

<footer class="mt-auto bg-light text-center">
  <div class="p-3" style="background-color: rgba(0, 0, 0, 0.25);">
    <div class="row">
      <div class="col-12 col-md-4">
        <p class="text-dark">
          Support email: familiealbums.team@gmail.com
        </p>
      </div>
      <div class="col-12 col-md-4 order-md-first">
        <p class="text-dark">
          <a href="{% static 'Terms of use.pdf' %}">Terms of use</a>
        </p>
      </div>
      <div class="col-12 col-md-4">
        <p class="text-dark">
          Developer: Oleksii Piddubnyi, &copy;2022-2023
        </p>
        <p class="text-dark">
          <a href="https://github.com/AlexeyPodd" class="m-4">GitHub</a>
          <a href="https://www.linkedin.com/in/oleksii-piddubnyi-98797b268" class="m-4">LinkedIn</a>
          <a href="https://t.me/alexey_0000" class="m-4">Telegram</a>
        </p>
      </div>
    </div>
  </div>
</footer>